.form{
    height: auto;
    min-height: 550px;
    min-width: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 60vw ;
    gap: 2.5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.ScreenContainer{    
    margin: auto auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center
}


.add{
    position: absolute;
    right: calc(10% - 1vw);
}

.h1{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-left: auto;
    margin-right: auto;
}

.h2{
    font-size: clamp(1rem, 3.5vw, 1.5rem);
}

.strong{
    margin-left: 4px;
    width: auto;
    font-size: clamp(15px,1.5vw,20px);
    color: #5271ff;
}

.dateContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.halfContainer{
    width: 49%;
}

.label{
    padding: .5rem;
    width: 100%;
    min-width: 270px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: #5271ff 2px solid;
}

.input{
    height: 100%;
    border: none;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
}

@media screen and (max-width:920px) {

    .dateContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 2.5vh;
    }
    
    .halfContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2.5vh;
    }
    

    
}