<<<<<<< HEAD
/*form{
=======
.formCarreras{
>>>>>>> ab44d3bcb1674adba1038f244b09e00746e15c3b
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 100%;
    max-width: 500px;
    gap: 25px;
    padding: 30px;
    background: #efefef;
    box-shadow: -9px 9px 7px #acacac;
    border-right: 1px solid #767676;
    border-top: 1px solid #767676;
    border-radius:   5px 5px  5px 0;
    transition: .3s;
}*/