.buttonRegister{
	padding:.5rem 3rem;
	font-size:1rem;
	background:rgb(76, 175, 80);
	color:white;
	width:150px;
	cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius:7px 0 7px 0;
}