  .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 11px;
    background-color: rgb(0, 25, 61);
    bottom: 0;
    width: 100%;
  }

  .column {
    display: flex;
    flex: 1 1 200px;
    font-size: 13px;
    color: aliceblue;
    margin-left: 3vw;
    margin-top: 0.5vh;
  }

  .column h3 {
    margin: 0 auto;
  }

  .column a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 7px;
  }

  .column a:hover {
    text-decoration: underline;
  }

  .social-media {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .social-media a img {
    width: 20px;
    height: 20px;
  }

  @media only screen and (max-width: 460px) {
    .social-media {
      gap: 6px;
    }

    .column {

      font-size: 12px;

    }

  }