.BoxSelect{
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 30%);
	height: 30px;
	gap: 10px;
}
.BoxSelect .SelectMateria{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	width: 100%;
	max-width: 600px;
	height: 30px;
}
.BoxSelect .SelectMateria option{
	display: flex;
	justify-content: center;
	align-items: center;
}
.BoxSelect .buscar{
	padding: 10px;
	background: whitesmoke;
	border-radius: 10px;
	transition: .1s;
	border:1px solid grey;
	cursor:pointer
}
.BoxSelect .buscar:active{
	background: rgb(82, 119, 255 , .8);
	scale: .9;
}