.textoInformativo{
	color:red;
	padding:2rem 1rem;
	text-align: center;
	font-size:2rem;
}.containerComponentPrincipal{
	width:100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.containerComponentPrincipal .content{
	overflow-x: hidden;
	display: flex;
}
body::-webkit-scrollbar {
	width: 2px; /* Ancho del scroll vertical */
}
.containerComponentPrincipal .content::-webkit-scrollbar{
	width: 2px; /* Ancho del scroll vertical */
}
