*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.principal{
	display:flex;
	width:100%;
	height:100%;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}body {
  background-color:rgb(255, 255, 255); /* Color de fondo opcional */
  font-family: 'Helvetica', sans-serif;
  max-height: 100vh;
}

@font-face {
  font-family: 'titulos'; 
  src: url('/public/Font/helvetica-now-font-family-1738163705-0/helveticanowtext-black-demo.ttf') 
}

@font-face {
  font-family: 'subtitulos'; 
  src: url('/public/Font/helvetica-now-font-family-1738163705-0/helveticanowtext-black-demo.ttf') 
}