:root{
	--button: #6BDBFF;
	--background: #FFFFFF;
	--text: #455459;
	--border-color: #DEDEDE;
}
.FullSection{
	display: flex;
	width: 100%;
	justify-content: center;
}
.Container{
	width: 70%;
	max-width: 100%;
	height: 100%;
}
.Title_Text{
	text-align: center;
	font-size: 24px;
	width: 80%;
	max-width: 100%;
	background: var(--background);
	padding: 20px;
	font-family: Roboto;
	border-radius: 20px 20px 0 0;
	color: var(--text);
}
.Form{
	height:auto;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	gap: 1em;
	background: var(--background);
	padding: 16px;
	border-radius: 0px 0px 20px 20px;
}
.Form_Title{
	margin-left: 2px;
	color: var(--text);
	font-size: 12.4px;
	flex: 1;
	position: relative;
}
.Form_Group{
	display: flex;
	gap: 5px;
	width: 100%;
}
.Form_Border{
	display: flex;
	width: 100%;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: 7px;
}
.Form_Input{
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 1em;
	font-family: Roboto;
	width: 100%;
	border-radius: 7px;
	padding: 0.9em;
	border: none;
	outline: none;
}
.Form_Input[type=number]::-webkit-inner-spin-button,
.Form_Input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
}
.Icon{
	background: transparent;
	min-width: 10%;
	width: 10%;
	max-width: 10%;
	min-height: 40%;
	height: 35%;
	max-height: 40%;
}
.Date_Input{
	background: transparent;
	text-align: center;
	font-size: 17px;
	border: none;
	outline: none;
}
.Date_Label{
	background: transparent;
	width: 65%;
	font-size: 1em;
	background: white;
	color: var(--text);
	padding: 0.6em;
	border-radius: 1em;
}
.Radius{
	display: flex;
	flex-flow: column wrap;
	gap: 10px;
	width: 100%;
}
.Label_Radius{
	display: flex;
	gap: 20px;
	font-size: 1.1em;
	font-family: Roboto;
	width: 100%;
	padding: 0.7em;
	border: 1px solid var(--border-color);
	border-radius: 7px;
}
.Select{
	display: flex;
	flex-flow: wrap row;
	gap: 1em;
}
.Select_Group{
	width: 100%;
}
.Select_Input{
	width: 100%;
	padding: 0.9em;
	font-size: 1.2em;
	text-align: center;
	background: white;
	color: var(--text);
	appearance: none;
	outline: none;
	border: 1px solid var(--border-color);
	border-radius: 7px;
}
.PreBox{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}
.Preview{
	display: flex;
	background: white;
	padding: 1em;
}
.Preview_Img{
	width: 100%;
	height: 100%;
	max-height: 500px;
	transition: all 0.3s ease;
}
.Preview_Img:hover{
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}
.File{
	display: flex;
	width: 100%;
}
.File_Input{
	display: none;
}
.File_Logo{
	background: white;
	width: 100%;
	height: 100%;
	padding: 0.4em;
	border-radius: 1em;
	max-height: 25px;
	transition: all 0.3s ease;
}
.File_Logo:hover{
	cursor: pointer;
	transform: scale(1.1);
}
.Button_Group{
	display: flex;
	width: 100%;
	gap: 1em;
}
.Button{
	width: 25%;
	color: var(--text);
	background: var(--button);
	border: none;
	border-radius: 2em;
	padding: 1em;
}
.Button:hover{
	cursor: pointer;
}

